/* Set the background of the body to light blue */
body {
  background-color: #00b3e6;
}

/* Style all div elements */
div {
  width: 700px;
  margin: auto; /* Centers the div element */
  font-family: "Helvetica Neue", sans-serif; /* Sets the font */
  background-color: white; /* Sets the background color of the div */
  padding: 30px; /* Adds padding inside the div */
}

/* Style the element with the id of #main-header */
#main-header {
  font-size: 22px; /* Sets the font size */
}

/* Style the elements with the class .perspective-questions */
.perspective-questions {
  font-style: italic; /* Applies italic font style */
}

